@{
    ViewBag.Title = "Home Page";
}
<section class="slider">
    <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
        <!-- Indicators -->
        <div class="carousel-inner">
            <div class="item">
                <img alt="First slide" src="~/images/slider/slider1.jpg">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Rutrum sed urna sed condimentum. Quisque quam leo, dictum quis congue</h1>
                        <p>Aenean id ipsum et nisl rhoncus ultrices. Integer euismod mauris enim. </p>
                        <p><a class="btn btn-default" href="#" role="button">Get Started</a></p>
                    </div>
                </div>
            </div>
            <div class="item active">
                <img  alt="Second slide" src="~/images/slider/slider2.jpg">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Condimentum eros <span>eleifend purus</span> </h1>
                        <p>Volutpat urna at, gravida sem. Quisque iaculis vitae ligula. </p>
                        <p><a class="btn btn-default" href="#" role="button">Get Started</a></p>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon carousel-control-left"></span></a> <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon carousel-control-right"></span></a>
    </div>
</section>
<!--end of sldier section-->

<section class="main__middle__container">
    <div class="row blue__line">
        <div class="container">
            <h2 class="text-center">Phasellus ultrices nulla quis nibh. Quisque a lectus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h2>
            <p class="text-center big-paragraph">Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
        </div>
    </div>
    <div class="about-us">
        <div class="container">
            <h2 class="text-center">About Us</h2>
            <p class="descr text-center">Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
            <div class="icon__heading text-center"><span><img src="~/images/icons/ico1.png" alt="icon" class="icon"></span></div>
            <div class="row">
                <div class="col-md-6">
                    <h3>
                        Donec odio. Quisque volutpat mattis eros.
                        Nullam malesuada erat ut turpis.
                    </h3>
                    <p><small>Praesent semper mod quis eget mi. Etiam eu ante risus. </small></p>
                    <img src="~/images/content__images/img1.jpg" class="img-rounded img-responsive" alt="pic1">
                    <div class="clearfix"></div>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
                    <p><a class="btn btn-info btn-lg" href="#" role="button">Learn more</a></p>
                </div>
                <div class="col-md-6">
                    <h3>
                        Etiam eu ante risus. Aliquam erat volutpat.
                        Aliquam luctus et mattis.
                    </h3>
                    <p><small>Praesent semper mod quis eget mi. Etiam eu ante risus. </small></p>
                    <img src="~/images/content__images/img2.jpg" class="img-rounded img-responsive" alt="pic2">
                    <div class="clearfix"></div>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
                    <p><a class="btn btn-info btn-lg" href="#" role="button">Learn more</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="text__line text-center">
        <div class="container">
            <h2>Aliquam erat volutpat. Nam dui mi tincidunt quis accumsan porttitor facilisis luctus metus.</h2>
        </div>
    </div>
    <div class="three-blocks">
        <div class="container">
            <h2 class="text-center">our services</h2>
            <p class="descr text-center">Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
            <div class="icon__heading text-center"><span><img src="~/images/icons/ico2.png" alt="icon" class="icon"></span></div>
            <div class="row">
                <div class="col-md-4">
                    <h3>Easy to customize</h3>
                    <img src="~/images/content__images/pic1.jpg" alt="image" class="img-rounded img-responsive">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.</p>
                    <p><a class="btn btn-info btn-lg" href="#" role="button">Learn more</a></p>
                </div>
                <div class="col-md-4">
                    <h3>Ticket system support</h3>
                    <img src="~/images/content__images/pic2.jpg" alt="image" class="img-rounded img-responsive">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.</p>
                    <p><a class="btn btn-info btn-lg" href="#" role="button">Learn more</a></p>
                </div>
                <div class="col-md-4">
                    <h3>Great performance</h3>
                    <img src="~/images/content__images/pic3.jpg" alt="image" class="img-rounded img-responsive">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.</p>
                    <p><a class="btn btn-info btn-lg" href="#" role="button">Learn more</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="testimonials text-center">
        <div class="container">
            <h2>TESTIMONIALS</h2>
            <p class="description">Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
            <div id="myCarousel2" class="carousel slide carousel-fade" data-ride="carousel">
                <!-- Indicators -->
                <div class="carousel-inner">
                    <div class="item active">
                        <p class="small-paragraph">"Quisque tristique sem ut lacus pulvinar sodales. Praesent ultricies sed suscipit tincidunt. Pellentesque eros dui, interdum vel elit vel. Nunc semper mauris sed eros accumsan, quis viverra. Cras sed leo non sem dictum."</p>
                        <p class="small-paragraph"><small>John Smith, Developer</small></p>
                    </div>
                    <div class="item">
                        <p class="small-paragraph">"Donec non faucibus quam. Proin sagittis lectus vitae dapibus pellentesque. Morbi at magna pellentesque, vulputate nisl nec. Donec non faucibus quam. Integer non venenatis nunc."</p>
                        <p class="small-paragraph"><small>Daniel Stone, Manager</small></p>
                    </div>
                    <div class="item">
                        <p class="small-paragraph">"Cras sed leo non sem dictum vulputate nec a nisi. Aliquam erat volutpat. Vivamus facilisis purus eu cursus dictum. Aliquam rutrum est sed purus elementum. Nunc condimentum est in nisi dictum."</p>
                        <p class="small-paragraph"><small>Alison Parks, Sales</small></p>
                    </div>
                </div>
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel2" data-slide-to="0" class=""></li>
                    <li data-target="#myCarousel2" data-slide-to="1" class="active"></li>
                    <li data-target="#myCarousel2" data-slide-to="2" class=""></li>
                </ol>
            </div>
        </div>
    </div>
</section>